# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\30070_20200227_asgn3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
